$timer-top: rgb(47, 84, 148);
$timer-bottom: rgb(31, 62, 110);
$timer-top-light: rgb(99, 156, 255);
$timer-bottom-light: rgb(77, 132, 220);
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    @media (prefers-color-scheme: light) {        
        color: #213547;
        background-color: #ffffff;
    }

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-size: 20px;

    @media only screen and (max-width: 700px) {
        font-size: 18px;
    }

    @media only screen and (max-width: 600px) {
        font-size: 16px;
    }

    @media only screen and (max-width: 500px) {
        font-size: 14px;
    }

    @media only screen and (max-width: 400px) {
        font-size: 12px;
    }

    @media only screen and (max-height: 800px) {
        font-size: 18px;
    }

    @media only screen and (max-height: 650px) {
        font-size: 15px;
    }

    @media only screen and (max-height: 500px) {
        font-size: 12px;
    }
}
body {
    margin: 0;
    display: flex;
    align-items: center;
    min-height: 90vh;
}

* {
    box-sizing: border-box;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}


h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

.heading {
    font-size: .8rem;
    margin-top: 2rem;
    margin-bottom: 2rem;

    >* {
        margin: 1rem;
    }
}

.react-logo {
    position: relative;
    top: .4em;
    margin: 0 .2em;
    transform: scale(1.1);
}

#root {
    margin: 0 auto;
    padding: 0 1rem;
    text-align: center;
}

@mixin border {
    border: 2px solid black;
    border-radius: 0.4rem;
}
@mixin gradientBackground {
    background: linear-gradient($timer-top, $timer-bottom);
        @media (prefers-color-scheme: light) {
            background: linear-gradient($timer-top-light, $timer-bottom-light);
        }
}
@mixin unselectable {
    user-select: none;
    -webkit-user-select: none;
}
#timer-settings > * {
    @include gradientBackground();
}

#timer {
    @include unselectable();
    @include border();
    @include gradientBackground();

    width: 30rem;
    margin: 0 auto;
    padding: 1rem;
}
#timer-container {
    @include border();
    @include gradientBackground();
    margin: 1em;
    padding: 0.5em;
}
#time-display {
    font-size: 4rem;
    :first-child {
        font-size: 2rem;
        margin-bottom: -0.5em;
    }
}
#timer-settings {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    > * {
        @include border();
        width: 30%;

    }
    .settings-time {
        font-size: 1.4rem;
    }
    .settings-btns {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}
#timer-controls {
    display: flex;
    justify-content: center;
    gap: 1.5em;
    align-items: center;
}

.button {
    cursor: pointer;
    font-size: 1.3rem;
    &.button-big {
        font-size: 2.5rem;
    }
}
